/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* common styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: navy;
  padding: 30px 100px;
}

/* navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menus ul {
  display: flex;
}

.nav-menus ul li {
  list-style: none;
}

.nav-menus ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 30px;
}

.nav-button {
  display: flex;
  height: 30px;
  background-color: deeppink;
  justify-content: center;
  align-items: center;
  padding: 7px 12px;
  cursor: pointer;
}

.nav-button img {
  width: 30%;
}

.nav-button p {
  color: white;
  margin: 0;
  margin-left: 5px;
}
